.body-care .btn-banner {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Body Care Step */
.body-care-step .column-card {
    border-radius: 1.625rem;
    margin-right: 16px;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;

}

/* Body Scrub */
.body-scrub .btn-scrub {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;

}

/* Shower Scrub */
.body-shower-scrub .btn-scrub {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Body Lotion */
.body-lotion .btn-scrub {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}