.face-care .btn-banner {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Face Solution Step */
.face-solution .column-card {
    border-radius: 1.625rem;
    margin-right: 16px;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Face Wash */
.face-wash .btn-face-wash {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Toner */
.toner .btn-toner {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Serum */
.serum .btn-serum {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Cream */
.cream .btn-cream {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

/* Face Mask */
.face-mask .btn-face-mask {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}