.hair-care .btn-banner {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

.hair-care-shampoo .btn-shampoo {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

.hair-care-conditioner .btn-conditioner {
    border-radius: 1.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

.hair-care-tips-step .column-card {
    border-radius: 1.625rem;
    margin-right: 16px;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}

.shampoo-tips .column-card {
    border-radius: 2.625rem;
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
}